streamlit>=1.24.0
pandas>=2.0.0
num2words>=0.5.12
bcrypt>=4.0.1
Pillow>=10.0.0
schedule>=1.2.0
openpyxl>=3.1.2
qrcode[pillow]>=7.4.2
python-dotenv>=1.0.0
fpdf2>=2.7.4
python-barcode>=0.15.1
sqlalchemy>=2.0.0
streamlit-option-menu>=0.3.6
streamlit-extras>=1.0.0
streamlit-aggrid>=0.3.4
streamlit-echarts>=0.4.0
plotly>=5.15.0
streamlit-vertical-slider>=1.0.1